@page "/Entries"
@model EkoStatRp.Pages.Entries.EntriesIndex
@inject EkoStatRp.Helpers.DtoHelper _dtoHelper
@{
    ViewData["Title"] = "Entries";
}

<h1>Entries</h1>
<a asp-page="@Constants.RazorPages.EntriesAdd">Add entries</a>
<hr />

<table class="table-bordered">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Article</th>
            <th>Tags</th>
            <th>Count</th>
            <th>Unit</th>
            <th>Cost per article</th>
            <th>Timestamp</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Entries)
        {
            var tags = _dtoHelper.GetTagNamesAsString(entry.Article.Tags);
            <tr>
                <td>@entry.Comment</td>
                <td>@entry.Article.Name</td>
                <td>@tags</td>
                <td>@entry.Count</td>
                <td>@entry.Unit.Name</td>
                <td>@entry.CostPerArticle</td>
                <td>@entry.Timestamp</td>
                <td>
                    <partial name="@Constants.PartialViews.EditButtons" model="@entry.Id">
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script src="~/js/entries-index.js"></script>
}
