@page "/Entries"
@model EkoStatRp.Pages.Entries.EntriesIndex
@using EkoStatLibrary.Extensions.DtoExtensions;
@{
    ViewData["Title"] = "Entries";
    ViewData["ShowEditButtons"] = true;
    int entriesCount = Model.EntryGroups.GetEntriesCount();
    var earliestTimestamp = Model.EntryGroups.GetEarliestTimestamp();
    var latestTimestamp = Model.EntryGroups.GetLatestTimestamp();
}

<h1>Entries</h1>
<a asp-page="@Constants.RazorPages.EntriesAdd">Add entries</a>
<hr />

<h2>Filter</h2>
<form method="post">
    <partial name="@Constants.PartialViews.FilterEntries" model="@Model.FilterViewModel" />
    <div>
        <label asp-for="@Model.FilterViewModel.Filter.CostPerArticleMin"></label>
        <input asp-for="@Model.FilterViewModel.Filter.CostPerArticleMin" />
        <span asp-validation-for="@Model.FilterViewModel.Filter.CostPerArticleMin" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.FilterViewModel.Filter.CostPerArticleMax"></label>
        <input asp-for="@Model.FilterViewModel.Filter.CostPerArticleMax" />
        <span asp-validation-for="@Model.FilterViewModel.Filter.CostPerArticleMax" class="text-danger"></span>
    </div>
    <button type="submit">Filter</button>
</form>
<hr />

<h2>Entries</h2>
<p>
    @entriesCount entries 
    @if (entriesCount > 0)
    {
        <span>from @earliestTimestamp until @latestTimestamp</span>
    }
</p>
<partial name="@Constants.PartialViews.EntriesGroupedByTimestamp" model="@Model.EntryGroups" />



@section Scripts {
    <script src="~/js/entries-index.js"></script>
}
