@using EkoStatLibrary.DtoContainers;
@using EkoStatLibrary.Extensions.DtoExtensions
@model List<EntryGroupByTimestamp>
@{
    bool showEditButtons = (bool)(ViewData["ShowEditButtons"] ?? false);
}

<table class="table-bordered">
    <thead>
        <tr>
            <th>Article</th>
            <th>Count</th>
            <th>Size</th>
            <th>Unit</th>
            <th>Cost per article</th>
            <th>Tags</th>
            <th>Comment</th>
            @if (showEditButtons)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr><th colspan="100">@group.Timestamp</th></tr>
            @foreach (var entry in group.Entries)
            {
                var tags = entry.Article.Tags.GetNamesAsString();
                <tr>
                    <td>@entry.Article.Name</td>
                    <td>@entry.Count</td>
                    <td>@entry.Size</td>
                    <td>@entry.Unit.Name</td>
                    <td>@entry.CostPerArticle</td>
                    <td>@tags</td>
                    <td>@entry.Comment</td>
                    @if (showEditButtons)
                    {
                        <td><partial name="@Constants.PartialViews.EditButtons" model="@entry.Id"></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
