@page "/Tags"
@model EkoStatRp.Pages.Tags.TagsIndex
@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>
<hr />

<h2>Create new</h2>
<form method="post">
    <div id="formInputContainer">
        <div>
            <label asp-for="@Model.NewTag.Name"></label>
            <input asp-for="@Model.NewTag.Name" />
        </div>
    </div>
    <button type="submit">Save</button>
</form>
<hr />

<h2>Existing tags</h2>
<table class="table-bordered">
    @foreach (var tag in Model.Tags)
    {
        <tr>
            <td>@tag.Name</td>
            <td>
                <partial name="@Constants.PartialViews.EditButtons" model="@tag.Id">
            </td>
        </tr>
    }
</table>



@section Scripts {
    <script src="~/js/tags-index.js"></script>
}
