@page "/Reports"
@model EkoStatRp.Pages.Reports.ReportsIndex
@using EkoStatLibrary.Enums
@using EkoStatLibrary.Extensions.DtoExtensions
@using EkoStatLibrary.Models
@{
    ViewData["Title"] = "Reports";
    var earliestTimestamp = Model.EntryGroups.GetEarliestTimestamp() ?? new DateTime();
    var latestTimestamp = Model.EntryGroups.GetLatestTimestamp() ?? new DateTime();
    var timePeriod = new TimePeriod(earliestTimestamp, latestTimestamp);
    int entriesCount = Model.EntryGroups.GetEntriesCount();
    var totalCost = Model.EntryGroups.GetTotalCost();
    string highlightMessage = Model.Report.CostLimitType switch
    {
        LimitType.Fixed => $"Highlighting articles with a total cost of {Model.Report.CostLimit} or more.",
        LimitType.Percentile => $"Highlighting articles with a total cost at or above the {Model.Report.CostLimit}th percentile for that period.",
        _ => ""
    };
}

<h1>Reports</h1>
<a asp-page="@Constants.RazorPages.ReportsSaved">Saved reports</a>

<!-- Formulär -->
<form method="post">
    <hr />
    <h2>Filter</h2>
    <partial name="@Constants.PartialViews.FilterEntries" model="@Model.FilterViewModel" />

    <hr />
    <h2>Report settings</h2>

    <!-- Markera rader med kostnad över gränsvärde -->
    <div class="flexRow">
        <div>
            <label asp-for="@Model.Report.CostLimit">Highlight cost at or above</label>
            <input asp-for="@Model.Report.CostLimit" />
            <span asp-validation-for="@Model.Report.CostLimit" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.Report.CostLimitType"></label>
            <select asp-for="@Model.Report.CostLimitType">
                @foreach (var costLimitType in Enum.GetValues(typeof(LimitType)))
                {
                    <option value="@costLimitType">@costLimitType</option>
                }
            </select>
            <span asp-validation-for="@Model.Report.CostLimitType" class="text-danger"></span>
        </div>
    </div>

    <!-- Segmentering -->
    <div>
        <label asp-for="@Model.Report.SegmentBy"></label>
        <select asp-for="@Model.Report.SegmentBy">
            @foreach (var segmentSize in Enum.GetValues(typeof(SegmentSize)))
            {
                <option value="@segmentSize">@segmentSize</option>
            }
        </select>
        <span asp-validation-for="@Model.Report.SegmentBy" class="text-danger"></span>
    </div>

    <button type="submit">Generate report</button>
</form>

<!-- Visning -->
@if (entriesCount > 0)
{
    <hr />
    <h2>Summary</h2>
    <p>
        Showing @Model.EntryGroups.Count articles from @entriesCount entries <br />
        from @timePeriod.Start.ToShortDateString() until @timePeriod.End.ToShortDateString() <br />
        which is @timePeriod.Years years, @timePeriod.Months months, and @timePeriod.Days days<br />
        with a total cost of @totalCost
    </p>
    if (Model.Report.CostLimit != null)
    {
        <p>@highlightMessage</p>
    }

    <hr />
    <h2>Articles</h2>
    @foreach (var segment in Model.Segments)
    {
        if (!segment.EntryGroups.Any())
            continue;

        string startDate = segment.TimePeriod.Start.ToShortDateString();
        string endDate = segment.TimePeriod.End.AddMilliseconds(-1).ToShortDateString();
        int daysCount = segment.TimePeriod.TotalDays;
        <h3>@startDate to @endDate (@daysCount days)</h3>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Count</th>
                    <th>Total cost</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in segment.EntryGroups)
                {
                    string highlight = (group.TotalCost >= segment.CostThreshold) ? "highlightRow" : "";
                    <tr class="@highlight">
                        <td>@group.Article.Name</td>
                        <td>@group.TotalCount</td>
                        <td>@group.TotalCost</td>
                        <td>@group.Article.Tags.GetNamesAsString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
