@page "/Reports"
@model EkoStatRp.Pages.Reports.ReportsIndex
@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<a asp-page="@Constants.RazorPages.ReportsSaved">Saved reports</a>
<hr />

<h2>Filter</h2>
<partial name="@Constants.PartialViews.FilterEntries" model="@Model.FilterViewModel" />
<hr />

<h2>Articles</h2>
<p>@Model.EntryGroups.Count articles in @Model.EntryGroups.Sum(g => g.Entries.Count) entries</p>
<partial name="@Constants.PartialViews.EntriesGroupedByArticle" model="@Model.EntryGroups" />