@page "/Reports"
@model EkoStatRp.Pages.Reports.ReportsIndex
@using EkoStatLibrary.Enums;
@using EkoStatLibrary.Extensions.DtoExtensions;
@using EkoStatRp.Models;
@inject EkoStatLibrary.Helpers.DtoHelper _dtoHelper
@{
    ViewData["Title"] = "Reports";
    var earliestTimestamp = Model.EntryGroups.GetEarliestTimestamp() ?? new DateTime();
    var latestTimestamp = Model.EntryGroups.GetLatestTimestamp() ?? new DateTime();
    var timePeriod = new TimePeriod(earliestTimestamp, latestTimestamp);
    int entriesCount = Model.EntryGroups.GetEntriesCount();
    var totalCost = Model.EntryGroups.GetTotalCost();
    var highligtCostThreshold = (decimal)(ViewData["CostHighlightThreshold"] ?? decimal.MaxValue);
}

<h1>Reports</h1>
<a asp-page="@Constants.RazorPages.ReportsSaved">Saved reports</a>

<!-- Formulär -->
<form method="post">
    <hr />
    <h2>Filter</h2>
    <partial name="@Constants.PartialViews.FilterEntries" model="@Model.FilterViewModel" />

    <hr />
    <h2>Report settings</h2>
    <div class="flexRow">
        <div>
            <label asp-for="@Model.Report.CostLimit">Highlight cost at or above</label>
            <input asp-for="@Model.Report.CostLimit" />
            <span asp-validation-for="@Model.Report.CostLimit" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.Report.CostLimitType"></label>
            <select asp-for="@Model.Report.CostLimitType">
                @foreach (var costLimitType in Enum.GetValues(typeof(LimitType)))
                {
                    <option value="@costLimitType">@costLimitType</option>
                }
            </select>
            <span asp-validation-for="@Model.Report.CostLimitType" class="text-danger"></span>
        </div>
    </div>

    <button type="submit">Generate report</button>
</form>

<!-- Visning -->
@if (entriesCount > 0)
{
    <hr />
    <h2>Summary</h2>
    <p>
        Showing @Model.EntryGroups.Count articles from @entriesCount entries <br />
        from @earliestTimestamp until @latestTimestamp <br />
        which is @timePeriod.Days days, or @timePeriod.Weeks weeks, or about @timePeriod.Months months, or about @timePeriod.Years years <br />
        with a total cost of @totalCost
    </p>
    if (Model.Report.CostLimit != null)
    {
        <p>Highlighting articles with a total cost of @highligtCostThreshold or more.</p>
    }

    <hr />
    <h2>Articles</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Article</th>
                <th>Count</th>
                <th>Total cost</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.EntryGroups)
            {
                var tags = _dtoHelper.GetTagNamesAsString(group.Article.Tags);
                string highlight = (group.TotalCost >= highligtCostThreshold) ? "highlightRow" : "";
                <tr class="@highlight">
                    <td>@group.Article.Name</td>
                    <td>@group.TotalCount</td>
                    <td>@group.TotalCost</td>
                    <td>@tags</td>
                </tr>
            }
        </tbody>
    </table>
}
