@page "/Articles"
@model EkoStatRp.Pages.Articles.ArticlesIndex
@inject EkoStatRp.Helpers.DtoHelper _dtoHelper
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>
<hr />

<h2>Create new</h2>
<form method="post">
    <div id="formInputContainer">
        <div>
            <label asp-for="@Model.NewArticle.Name"></label>
            <input asp-for="@Model.NewArticle.Name" />
        </div>
        <select multiple name="tagIds">
            @foreach (var tag in Model.Tags)
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
    </div>
    <button type="submit">Save</button>
</form>
<hr />

<h2>Existing articles</h2>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            var tags = _dtoHelper.GetTagNamesAsString(article.Tags);
            <tr>
                <td>@article.Name</td>
                <td>@tags</td>
                <td>
                    @await Html.PartialAsync("_EditButtonsPartial", article.Id)
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script src="~/js/articles-index.js"></script>
}
